[Unit]
Description=Emacs daemon
After=graphical-session.target

[Service]
Type=forking
ExecStart=/usr/bin/emacs --init-directory=/home/bw/.emacs.d --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Restart=on-failure

[Install]
WantedBy=graphical-session.target
