[Desktop Entry]
Name=Emacs
GenericName=Text Editor
Comment=GNU Emacs
Exec=emacsclient -c -a ""
Icon=emacs
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupWMClass=Emacs
Keywords=editor;emacs;
